
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

venv/
.venv/
env/
ENV/

.env
.env.*

.ipynb_checkpoints/


.vscode/
.cache/
whisper/

models/
checkpoints/
weights/
*.pt
*.pth
*.ckpt
*.onnx
*.bin
*.safetensors

Videos/
audios/
unused/
downloads/